@{
    ViewBag.Title = "Index";
}
@model PagedList.IPagedList<WebStore.Models.Product>
@using PagedList.Mvc;



        <div class="row">

            <div class="col-md-3">
                <p class="lead">Shop Name</p>
                <div class="list-group">
                    <a href="#" class="list-group-item">Category 1</a>
                    <a href="#" class="list-group-item">Category 2</a>
                    <a href="#" class="list-group-item">Category 3</a>
                </div>
            </div>

            <div class="col-md-9">

               

                <div class="row">
@foreach (var item in Model)
{
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div class="thumbnail">
                            <img src="/Images/@item.Image" alt="">
                            <div class="caption">
                                <h4 class="pull-right">@Html.DisplayFor(modelItem => item.Price)€</h4>
                                <h4>
                                    <a href="Products/Details/@Html.DisplayFor(modelItem => item.ProductId)">@Html.DisplayFor(modelItem => item.Name)</a>
                                </h4>

                                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
                                
                            </div>

                        </div>
                    </div>
}



                </div>

            </div>

        </div>


