@{
    ViewBag.Title = "Index";
}
@model PagedList.IPagedList<WebStore.Models.Product>
@using PagedList.Mvc;



        <div class="row">

            <div class="col-md-3">
                <div class="list-group">
                    <a href="#" class="list-group-item">Category 1</a>
                    <a href="#" class="list-group-item">Category 2</a>
                    <a href="#" class="list-group-item">Category 3</a>
                </div>
            </div>

                <div class="form-group"></div>
                @using (Html.BeginForm("Index", "Products", FormMethod.Get))
            {
                    <p>
                        @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
                        <input type="submit" class="btn" value="Search" />
                    </p>
                }
</div>

               

                <div class="row">
@foreach (var item in Model)
{
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <img src="/Images/@item.Image" alt="">
                            <div class="caption">
                                <h4 class="pull-right">@Html.DisplayFor(modelItem => item.Price)€</h4>
                                <h4>
                                    <a href="Products/Details/@Html.DisplayFor(modelItem => item.ProductId)">@Html.DisplayFor(modelItem => item.Name)</a>
                                </h4>





                                
                            </div>

                        </div>
                    </div>
}



                </div>
                @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </div>

        </div>


