
@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>Simple Web Store</h1>
    <p class="lead">This is a simple web store made using asp.net mvc.</p>
    <p><a class="btn btn-lg btn-success" href="~/Products" role="button">Browse</a></p>
</div>